body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: #fff;
}

header {
    color: rgb(27, 26, 26);
    text-align: center;
    padding: 1em 0;
}

nav {
    text-align: center;
    margin: 1em 0;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 2em 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.gallery-item {
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

